In [25]:
import csv
from glob import glob

import numpy as np
import pandas as pd

In [26]:
def load_dataframe(file):
    with open(file) as csvfile:
        reader = csv.DictReader(csvfile)
        data = list(reader)
    df = pd.DataFrame(data)

    return df

In [27]:
data_files = glob('data/*.csv')

frames = [load_dataframe(file) for file in data_files]

In [28]:
df = pd.concat(frames, ignore_index=True)

In [29]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41160 entries, 0 to 41159
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   product   41160 non-null  object
 1   price     41160 non-null  object
 2   quantity  41160 non-null  object
 3   date      41160 non-null  object
 4   region    41160 non-null  object
dtypes: object(5)
memory usage: 1.6+ MB

       product  price quantity        date region
0  pink morsel  $3.00      546  2018-02-06  north
1  pink morsel  $3.00      549  2018-02-06  south
2  pink morsel  $3.00      577  2018-02-06   east
3  pink morsel  $3.00      519  2018-02-06   west
4  gold morsel  $9.99      580  2018-02-06  north

In [30]:
mask_pink_morsel = df["product"] == 'pink morsel'