In [49]:
from glob import glob

import numpy as np
import pandas as pd

In [50]:
data_files = glob('data/*.csv')

frames = [pd.read_csv(file) for file in data_files]
df = pd.concat(frames, ignore_index=True)

In [51]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41160 entries, 0 to 41159
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   product   41160 non-null  object
 1   price     41160 non-null  object
 2   quantity  41160 non-null  int64
 3   date      41160 non-null  object
 4   region    41160 non-null  object
dtypes: int64(1), object(4)
memory usage: 1.6+ MB

       product  price  quantity        date region
0  pink morsel  $3.00       546  2018-02-06  north
1  pink morsel  $3.00       549  2018-02-06  south
2  pink morsel  $3.00       577  2018-02-06   east
3  pink morsel  $3.00       519  2018-02-06   west
4  gold morsel  $9.99       580  2018-02-06  north

Next, we’ll go field by field and think about how we can use each one:
The first field, “product”, contains many different types of morsels. Soul Foods is only interested in Pink Morsels, so we can remove any row which contains another type of product.
Next come “quantity” and “price”. Since we’re interested in the total sales for a given day, these can be combined into a single field, “sales,” by multiplying them together.
The date field is useful as is and can remain untouched.
It would be nice to filter by region in the final visualisation, so we’ll also leave the region field untouched.

In [52]:
# Create a mask of only 'Pink Morsel' products
mask_pink_morsel = df["product"] == 'pink morsel'
# Change `price` to floats
df["price"] = df.price.str.replace('$', '').astype('float32')

# Change `quantity` to integers
df["quantity"] = df.quantity.astype('int32')

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41160 entries, 0 to 41159
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   product   41160 non-null  object
 1   price     41160 non-null  float32
 2   quantity  41160 non-null  int32
 3   date      41160 non-null  object
 4   region    41160 non-null  object
dtypes: float32(1), int32(1), object(3)
memory usage: 1.3+ MB

In [54]:
pink_morsel = df[mask_pink_morsel].reset_index(drop=True)

In [55]:
pink_morsel.head()

       product  price  quantity        date region
0  pink morsel    3.0       546  2018-02-06  north
1  pink morsel    3.0       549  2018-02-06  south
2  pink morsel    3.0       577  2018-02-06   east
3  pink morsel    3.0       519  2018-02-06   west
4  pink morsel    3.0       529  2018-02-07  north

In [56]:
pink_morsel["sales"] = pink_morsel.price * pink_morsel.quantity

Your task is to use the above instructions to convert the three CSV files into a single formatted output file. Your output file should contain three fields:
Sales
Date
Region

In [57]:
cols = ["sales", "date", "region"]
daily_sales_conv = pink_morsel[cols].copy()

In [58]:
daily_sales_conv.to_csv('daily_sales_conv.csv', index=False)